body {
	margin: 0 150px 150px 150px;
}

#wrapper {
    border: 2px solid #aaaaaa;
    border-top-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(170, 170, 170);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(170, 170, 170);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(170, 170, 170);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 19px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
}

#wrapper {
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 0 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}


}
#wrapper {
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 940px;
}

.centered {
  line-height: 400px;
  height: 400px;
  text-align: center;

}

.mylinks:hover {
	color: black;
	background-color: cyan;
}

.mylinks{
	color: black;
	text-decoration: none;
	background-color: white;
	border-style:hidden;
  margin: 0 10px 0 30px;
}

.container1 {
  position: relative;
  width: 52%;
  /*height: 200px;*/
}

.overlay-links {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 1.5s ease;
}

.container1:hover .overlay-links {
  width: 50%;
  left: 80%;
}

.text1 {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

